<h1>Blocks</h1>

<p>
  Block <%= link_to "here", new_block_path %>.
</p>

<p>
  Refresh this page liberally.
</p>

<ul>
  <% @blocks.each do |block| %>
    <li>
      <% if block.connections.trunk %>
        <%= link_to block.trunk.username, block_path(block) %>
      <% else %>
        <%= link_to "Processing...", block_path(block) %>
      <% end %>
    </li>
  <% end %>
</ul>
